In [1]:
from tensorflow import keras
model = keras.models.load_model('/content/drive/MyDrive/NNDL Project/myModel3.h5')

In [1]:
import os
import pandas as pd
import numpy as np
folder_dir = "/content/drive/MyDrive/NNDL Project/test_shuffle"

In [2]:
folder_dir

'/content/drive/MyDrive/NNDL Project/test_shuffle'

In [3]:
x=os.listdir(folder_dir)

In [4]:
x[0].split('.')[0]

'8301'

In [5]:
y=sorted(x,key=lambda z:int(z.split('.')[0]))

In [6]:
y[0:10]

['0.jpg',
 '1.jpg',
 '2.jpg',
 '3.jpg',
 '4.jpg',
 '5.jpg',
 '6.jpg',
 '7.jpg',
 '8.jpg',
 '9.jpg']

In [9]:
import cv2
g=0
X_test=[]
for images in y:
  img = cv2.imread(os.path.join(folder_dir, images))
  img=img.flatten()/255
  X_test.append(img)
  g=g+1
  if g%200==0:
    print(g)

200
400
600
800
1000
1200
1400
1600
1800
2000
2200
2400
2600
2800
3000
3200
3400
3600
3800
4000
4200
4400
4600
4800
5000
5200
5400
5600
5800
6000
6200
6400
6600
6800
7000
7200
7400
7600
7800
8000
8200
8400
8600
8800
9000

In [10]:
X_test[0]

array([0.21960784, 0.54117647, 0.49411765, 0.33333333, 0.6       ,
       0.59607843, 0.39607843, 0.55686275, 0.64705882, 0.47843137,
       0.58431373, 0.71764706, 0.23137255, 0.32941176, 0.4627451 ,
       0.36470588, 0.52156863, 0.59607843, 0.36862745, 0.64313725,
       0.61568627, 0.27843137, 0.61176471, 0.5254902 , 0.16078431,
       0.47058824, 0.42745098, 0.12941176, 0.38823529, 0.38431373,
       0.36470588, 0.51372549, 0.60784314, 0.49803922, 0.60392157,
       0.7372549 , 0.41960784, 0.51764706, 0.65098039, 0.28235294,
       0.43921569, 0.51372549, 0.33333333, 0.6       , 0.57254902,
       0.29411765, 0.62745098, 0.54117647, 0.3372549 , 0.62352941,
       0.58431373, 0.15686275, 0.4       , 0.4       , 0.34117647,
       0.48235294, 0.57647059, 0.47058824, 0.56862745, 0.70196078,
       0.50588235, 0.60392157, 0.7372549 , 0.31372549, 0.47058824,
       0.54509804, 0.30196078, 0.56862745, 0.54117647, 0.23921569,
       0.56470588, 0.47843137, 0.28627451, 0.54117647, 0.50588235,
       0.24705882, 0.46666667, 0.47058824, 0.37647059, 0.50980392,
       0.60392157, 0.44313725, 0.54117647, 0.6745098 , 0.42352941,
       0.52156863, 0.65490196, 0.43921569, 0.59607843, 0.67058824,
       0.34901961, 0.61176471, 0.58431373, 0.23529412, 0.55686275,
       0.47058824, 0.3254902 , 0.5372549 , 0.50980392, 0.4745098 ,
       0.6627451 , 0.67058824, 0.59215686, 0.70980392, 0.80784314,
       0.32156863, 0.40784314, 0.54509804, 0.04313725, 0.14901961,
       0.28235294, 0.10980392, 0.2745098 , 0.34901961, 0.21960784,
       0.47058824, 0.44705882, 0.28235294, 0.59215686, 0.50980392,
       0.35294118, 0.5254902 , 0.50196078, 0.28235294, 0.43137255,
       0.44705882, 0.3254902 , 0.42352941, 0.5254902 , 0.0745098 ,
       0.16078431, 0.29803922, 0.13333333, 0.24313725, 0.37647059,
       0.2627451 , 0.42745098, 0.50196078, 0.31764706, 0.56862745,
       0.54509804, 0.25490196, 0.55686275, 0.4745098 , 0.14117647,
       0.2627451 , 0.25098039, 0.26666667, 0.38039216, 0.4       ,
       0.52941176, 0.61176471, 0.71764706, 0.41176471, 0.49803922,
       0.63529412, 0.31764706, 0.43921569, 0.56862745, 0.26666667,
       0.44705882, 0.51764706, 0.16470588, 0.41568627, 0.39215686,
       0.16470588, 0.45882353, 0.37647059, 0.18823529, 0.28235294,
       0.2745098 , 0.35686275, 0.45098039, 0.4745098 , 0.53333333,
       0.60784314, 0.71372549, 0.55686275, 0.64313725, 0.78039216,
       0.34901961, 0.47843137, 0.60784314, 0.41568627, 0.59607843,
       0.66666667, 0.14509804, 0.39607843, 0.37254902, 0.15686275,
       0.43921569, 0.36078431])

In [11]:
test=X_test

In [72]:
import keras
model = keras.models.load_model('/content/drive/MyDrive/NNDL Project/myModel_over_s2.h5')

In [73]:
y_pred=model.predict(np.array(test))

286/286 [==============================] - 1s 4ms/step

In [40]:
max(y_pred[69])

0.83916414

In [17]:
y_pred[0][49]

6.343566e-05

In [41]:
np.argmax(y_pred[0])

70

In [74]:


y_c=[]
for i in range(len(y_pred)):
  if max(y_pred[i])<=0.6:
    y_c.append(90)
  else:
    y_c.append(np.argmax(y_pred[i]))

In [65]:
y_classes=np.argmax(y_pred,axis=1)

In [75]:
y_c.count(90)

5143

In [22]:
map="/content/drive/MyDrive/NNDL Project/Released_Data/sub_classes_mapping.csv"

map_df=pd.read_csv(map)
map_df.head()

   index                                           class
0      0       Scotch terrier, Scottish terrier, Scottie
1      1         African chameleon, Chamaeleo chamaeleon
2      2                              standard schnauzer
3      3                                        terrapin
4      4  great grey owl, great gray owl, Strix nebulosa

In [23]:
x=np.array(map_df['class'])

In [76]:
out=[]
for i in y_c:
  if i!=90:
    out.append(x[i])
  else:
    out.append('novel')

In [58]:
out=[]
for i in y_classes:
  out.append(x[i])

NameError: ignored

In [77]:
data2={
    "predictions":out
}

output=pd.DataFrame(data2)

In [78]:
output.to_csv("predictions_mlp_dum.csv",index=False)

In [ ]:
out=[]
for i in range(9127):
  out.append('novel')

In [ ]:
import pandas as pd
data2={
    "predictions":out
}

output=pd.DataFrame(data2)

In [ ]:
output.to_csv("predictions_dummy.csv",index=False)